#primary_controls
  %form#reset{action: session_reset_path(@session), method: :post}
    %input{type: 'hidden', name: '_method', value: 'put'}
    %input{value: 'Clear Timers', type: 'submit', id: 'r'}
  #timer_buttons
    - [Pomodoro,ShortBreak,LongBreak].each do |type|
      = haml(:form, {layout: false}, {session: @session, type: type})
  %form#rename{action: session_path(@session), method: :post}
    %label{ for: 'custom' } http://#{request.env['HTTP_HOST']}/
    %input{type: 'text', name: 'custom', id: 'custom', value: @session.display_name }
    %input{type: 'hidden', name: '_method', value: 'put'}
    %input{value: 'rename', type: 'submit'}

#timer
  .countdown_row.countdown_amount 00:00
#history
  %h2 Timer History
  %ul
    - @session.recent_timers.each do |timer|
      %li
        = timer.class.label
        %span.time
          = distance_of_time_in_words(timer.created_at,Time.now)
          ago

#footer
  %p
    %a{href: '/faq', rel: 'facebox'} What's this all about?
#help
  #help-container
    #background
    #body
      %h3 Keyboard Shortcuts
      %table.shortcuts
        %tr
          %td.left
            Pomodoro
          %td
            #{escape_html "<Ctrl>"} + p
        %tr
          %td.left
            Short Break
          %td
            #{escape_html "<Ctrl>"} + s
        %tr
          %td.left
            Long Break
          %td
            #{escape_html "<Ctrl>"} + l
        %tr
          %td.left
            Clear Timers
          %td
            #{escape_html "<Ctrl>"} + r

        %tr
          %td.left
            Help
          %td
            ?
      #close-help
        %a.close(href="#") close

